@import "../styles/typography";

.cart-container {
  margin-top: 190px;
  padding: 0 20px;
}

.spinner {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.personal-form {
  width: 50%;
  margin: 0 auto;
}

.react-spinner {
  width: 5em;
  height: 5em;
}

.pizza-logo {
  background: url("/pizza-icon.png") no-repeat center;
  width: 135px;
  height: 135px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    @include h1-with-decoration();
  }

  .collection-item{
    display: flex;
    margin: 35px;
  }

  .collection-item-img {
    max-width: 200px;
  }

  .add-remove {
    display: flex;
    i {
      font-size: 24px;
    }

    >* {
      margin: 5px;
    }
  }

  .item-desc {
    padding: 0 20px;
  }
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #a80e0e;
}

.cart-summary-total {
  font-size: 32px;
  color: #a80e0e;
  padding: 10px 0;
}

.empty-basket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 500px) {
  .cart-details {
    .collection-item {
      flex-direction: column;

      .item-desc {
        padding: 0;
      }
    }

    .collection-item-img{
      max-width: 100%;
    }

    .cart-summary {
      margin: 0;
    }
  }
}