@mixin h1-with-decoration {
    color: #A80E0E;
    font-size: 3em;

    &:after {
      content: '';
      width: 370px;
      height: 14px;
      display: block;
      background: url("/brush.png") no-repeat center;
    }

  @media only screen and (max-width: 500px) {
    &:after {
      width: 250px;
    }
  }
}