.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
}

.logo {
  background: url('/logo.png') no-repeat;
  background-size: contain;
  height: 150px;
  width: 200px;
  margin-top: 15px;
  margin-left: 4em;
}

.navbar-menu {
  height: 110px;
  background: rgba(40, 25, 35, 0.61) 0 0 no-repeat padding-box;
  display: flex;
  margin-left: auto;
}

.navbar-navigation {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > a {
    color: #FFFFFF;
    border-top: 4px solid #FFAA00;
  }
}

.navbar-actions {
  position: relative;
  width: 100px;
  background: #A80E0E 0 0 no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: space-around;


  .basket-icon{
    background-image: url('/basket-icon.png');
    width: 32px;
    height: 32px;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .search-icon{
    background-image: url('/search.png');
  }

  .profile-icon{
    background-image: url('/profile.png');
  }

  .basket-total{
    display: none;
    position: absolute;
    background: #ffaa00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    top: 30px;
    left: 55px;
  }
  .basket-total-visible {
    display: block;
  }
}

