@import "../styles/typography.scss";

.food-tiles{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 70px 0;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include h1-with-decoration;
  }
}