.burgers-background {
  background: url('/main-background.png') no-repeat center;
  width: 100%;
  height: 100%;
}

.promotion-info{
  background: url('/group-1389.png') no-repeat;
  background-size: contain;
  width: 650px;
  height: 170px;
  display: flex;
  align-items: center;
}

.order-button {
  width: 255px;
  height: 67px;
  border: none;
  background: #FFAA00;
  border-radius: 90px;
}
